In [1]:
import numpy as np
import os
import pandas as pd
from src.data import load_img, save_imgs_list_2npy

In [2]:
img_path = "/solar/sat/art-rrr/ART_G010x010RR_C010x010/C02-FR/2020/"

img_names = np.array([img for img in os.listdir(img_path)])
print("Number of images in 2020: ", img_names.size)

for idx in range(img_names.size - 1):
    nmbr_of_chars = len(img_names[idx]) == len(img_names[idx + 1]) 

print("Filenames length: ", len(img_names[idx]))
print("All images filenames has the same amount of characters:", nmbr_of_chars)

Number of images in 2020:  51219
Filenames length:  21
All images filenames has the same amount of characters: True

In [3]:
# Images names are as follow: ART_yyyydoy_hhmmss.FR

year, doy, hs, mins, sec = [], [], [], [], []


for img_name in img_names:
    yyyydoy, hhmmss = img_name.split("_")[1], img_name.split("_")[2][:6]

    year.append(int(yyyydoy[:4]))
    doy.append(int(yyyydoy[4:]))

    hs.append(int(hhmmss[:2]))
    mins.append(int(hhmmss[2:4]))
    sec.append(int(hhmmss[4:]))

year, doy, hs, mins, sec = np.array(year), np.array(doy), np.array(hs), np.array(mins), np.array(sec)

In [5]:
doy_wo_duplicates = list(dict.fromkeys(doy))
doy_sorted = np.sort(doy_wo_duplicates)
print("Amount of days in the 2020 dataset: ", len(doy_sorted))

Amount of days in the 2020 dataset:  359

In [4]:
mins_of_year = doy*24*60 + hs*60 + mins
sort_idxs = np.argsort(mins_of_year)

doy_sorted = doy[sort_idxs]

# List with sorted images by day, hour and mins
img_names_sorted = img_names[sort_idxs]


days_list = ['-']
img_per_day = [-1]

for nth_day in range(1, 367):
    nth_day_idxs = np.where(doy_sorted == nth_day)[0]
    if nth_day_idxs.size != 0:
        days_list.append(list(img_names_sorted[nth_day_idxs]))
        img_per_day.append(len(list(img_names_sorted[nth_day_idxs])))
    else:
        days_list.append([])
        img_per_day.append(0)

In [5]:
dic = {
    "Images per day":   img_per_day[1:],
    "Ordered list of images per dar": days_list[1:]
}

dataset_df = pd.DataFrame(dic, columns=dic.keys())
dataset_df.index = [i for i in range(1, 367)]
dataset_df

     Images per day                     Ordered list of images per dar
1               144  [ART_2020001_000021.FR, ART_2020001_001021.FR,...
2               144  [ART_2020002_000021.FR, ART_2020002_001021.FR,...
3               144  [ART_2020003_000021.FR, ART_2020003_001021.FR,...
4               144  [ART_2020004_000021.FR, ART_2020004_001021.FR,...
5               144  [ART_2020005_000021.FR, ART_2020005_001021.FR,...
..              ...                                                ...
362             144  [ART_2020362_000021.FR, ART_2020362_001021.FR,...
363             144  [ART_2020363_000021.FR, ART_2020363_001021.FR,...
364             144  [ART_2020364_000021.FR, ART_2020364_001021.FR,...
365             144  [ART_2020365_000021.FR, ART_2020365_001021.FR,...
366             144  [ART_2020366_000021.FR, ART_2020366_001021.FR,...

[366 rows x 2 columns]

In [22]:
days = [i for i in range(1, 11)] # first 10 days of 2020
day_imgs_list = []
for day in days:
    day_imgs_list += dataset_df.iloc[day-1][1]

print(len(day_imgs_list))
save_imgs_list_2npy(imgs_list=day_imgs_list,
            meta_path='/solar/sat/art-rrr/ART_G010x010RR_C010x010/meta',
            mk_folder_path='/solar/sat/art-rrr/ART_G010x010RR_C010x010/C02-MK/2020',
            img_folder_path='/solar/sat/art-rrr/ART_G010x010RR_C010x010/C02-FR/2020')

1376

In [9]:
lista1 = [1, 2, 3]
lsita2 = [4, 5, 6]
lista1.append(lsita2)
lista1

[1, 2, 3, [4, 5, 6]]